* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#paginaTres h1 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

header{
    background-color: white;
    width: 100vw;
    height: 20vhx;
    /* display: flex;
    justify-content: space-around; */
}

#telaInicial {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    text-align: center;
}



#meunome{
    width: 100%;
    height: 200px;
    font-size: 25px;
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
}

#textosP1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}



#aboutMe {
    width: 300px;
    background-color: rgba(255,255,255, 0.7);
    color: black;
    border-radius: 10px;
    padding: 20px;
}


#aboutMe h3 {
    justify-content: center;
}

#fotoDePerfil {
    border-radius: 20px;
}

#contatos {
    display: flex;
    flex-direction: column;
   
    align-items: center;
}


#redes {
    /* background-color: white; */
    border-radius: 10px;
    margin: 50px;
    background-color: rgba(255,255,255, 0.7);
    padding: 20px;
}

#paginaDois {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#paginaDois h2 {
    display: flex;
    justify-content: center;
}

#caixaTexto{
    width: 100%;
    display: flex;
    justify-content: center;
}

#texto1 {
    /* background-color: white; */
    display: flex;
    width: 300px;
    /* justify-content: center; */
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.7);
    padding: 20px;
}

#fotoAdicional {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#paginaTres {
    height: 100vh;
}

#tituloUm {
    width: 40%;
    display: flex;
    justify-content: center;
}

#caixaMaior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

#caixaMetade1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#textoUm {
    /* background-color: white; */
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.7);
    padding: 20px;
}

#caixaMetade2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoDois {
    width: 300px;
    /* background-color: white; */
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.7);
    padding: 20px;
}

#fotoDois {
    display: flex;
    border-radius: 10px;
}

